<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Kitchen Screen</title>
	<link rel="stylesheet" type="text/css" href="css/screen.css">

	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> -->
	<script src="js/moment-with-locales.min.js"></script>
 	<script src="js/clock.js"></script>
 		<script src="js/config.js"></script>

</head>

<body>
	<div class="date_time">
		<div class = "date"></div>
		<div class="time"></div>
		<div id = "events-today"></div>
	</div>
	<div id = "calendar-list"></div>
	 <button id="authorize-button" style="">Authorize</button>
	
	<!-- // playing with mustache
	<div id="test"></div>
	<script >

		var myInfo = "<p>Hello {{fName}} {{lName}}</p>";
		var template = Handlebars.compile(myInfo);
		var data = template({fName:"jodi", lName:'riley'});
		document.getElementById("test").innerHTML += data;
</script>
--> 
 	<script src="js/calendar.js"></script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</body>
</html>